# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Jul 17 2021 18:33:42

# Family & Device:    iCE40HX1K

# Package:            TQ144

# ##############################################################################

###IOSet List 5
set_io o_D1 99
set_io o_D3 97
set_io i_clk 21
set_io o_D2 98
set_io o_D4 96
